@import "timeline";
@import "variable";

body {
  margin: 0;
}

#header {
    overflow: hidden;
    position: fixed;
    padding: 43px 125px;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 1;
}

#header #logo {
    float: left;
}

#header #logo p {
    font-size: 26px;
    color: $yellow;
    margin: -4px 0 0 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    font-family: $font_Wisdom;
    letter-spacing: 2px;
}

#nav-menu-container {
    float: right;
    margin: 0;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > li {
    margin: 0px 7px;
}

.nav-menu > li {
    float: left;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu a {
    padding: 8px 22px 10px 8px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-family: $font_Montserrat;
    font-size: 13px;
    font-weight: bold;
    outline: none;

    &:hover {
        color: $white;
    }
}

.mobile-menu{
    display: none;

    #burger-menu {
        background: transparent;
        color: #fff;
        border: none;
        font-size: 25px;
    }

    .nav-menu-mobile{
        position: fixed;
        background: #000;
        padding: 20px;
        top: 0;
        height: 100%;
        width: 320px;
        right: -320px;

        .nav-menu-mobile-inner{
            position: relative;
            padding-top: 30px;

            .menu-close{
                position: absolute;
                top: 10px;
                right: 10px;
                background: transparent;
                border: none;
                color: #fff;
                font-size: 20px;
                z-index: 10;
            }
        }

        .nav-menu{
            margin: 0;
            padding: 0;
            display: block;
            li{
                list-style: none;
                display: block;
                width: 100%;
                a{
                    color: #fff;
                }
            }
        }
    }

}

#home {
    overflow: hidden;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url('../images/Background Image.jpg') 
        top center;
        width: 100%;
        height: 100vh;
        position: relative;
}

.home-text {

        color: #fff;
        padding-top: 175px;
        padding-top: 268px;
        text-align: center;
        vertical-align: top;

    p {
        font-family: $font_Droid;
        font-style: italic;
        font-size: 40px;
        margin: 0 0 25px 0;
    }

    h1 {
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 75px;
        color: #fff; 
        margin-bottom: 70px;
    }
     
    a {
        text-decoration: none;    
    }       

    .button {
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        background: $yellow;
        padding: 25px 55px;
        border-radius: 3px;

        &:hover {
            background: #ffc600;
            text-decoration: none;
        }
    }
} 

.services-header {
    text-align: center;
    padding-bottom: 50px;

    .title {
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: $black;
        text-align: center;
        margin-bottom: 0;
    }

    .sub-title {
        font-size: 15px;
        font-family: $font_Droid;
        font-style: italic;
        color: $gray;
    }
}

#services {
    overflow: hidden;
    text-align: center;
    padding: 120px 0px;
}

.service {
    padding: 0px 5px;
    margin: 0 18px;
    width: 295px;
    display: inline-block;
}

.service {
    img {
        padding: 10px;
    }

    .title {
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: $black;
    }    

    .text {
        font-family: RobotoSlab;
        font-size: 16px;
        color: $gray;
        margin: 0 0 10px;
    }
}

#portfolio {
    overflow: hidden;
    background: $lightgray;
    padding: 120px 0px 120px;
    text-align: center;
}

.portfolio-header {
    padding-bottom: 50px;

    .title {
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: $black;
        margin-bottom: 0;
    }

    .sub-title {
        font-family: $font_Droid;
        font-size: 16px;
        font-style: italic;
        color: $gray;
    }
}
.portfolio-thumbnail {
        display: inline-block;
        background: $white;
        margin: 10px 15px 25px;

        .caption {
            p.title {
                font-family: 'Montserrat Bold', sans-serif;
                font-weight: bold;
                font-size: 18px;
                margin: 25px 0px 0px
            }

            p.description {
                font-family: $font_Droid;
                font-style: italic;
                color: $lightergray;
                padding-bottom: 10px;
            }
        }
}

#about-us {
    overflow: hidden;
    padding: 120px 0px;
    .header {
        text-align: center;
        padding-bottom: 15px;
    }

    .title {
        font-family: 'Montserrat Bold', sans-serif;
        font-size: 40px;
        color: $black;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
    }

    .sub-title {
        font-family: $font_Droid;
        font-style: italic;
        font-size: 16px;
        color: $gray;
    }
}

#our-amazing-team {
    overflow: hidden;
    background: $lightgray;
    padding: 120px 0px 110px;
    text-align: center;
    
    .header {
        text-align: center;
        padding-bottom: 70px;
    }

    .title {
        font-family: 'Montserrat Bold', sans-serif;
        font-size: 40px;
        color: $black;
        margin-bottom: 0;
        font-weight: bold;
    }

    .sub-title {
        font-family: $font_Droid;
        font-size: 16px;
        font-style: italic;
        color: $gray;
    }

    .team {

        .member {

        h4 {
            font-family: 'Montserrat Bold', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: $black;
            margin: 8px 8px;
        }

        p {
            font-family: 'RobotoSlab';
            margin: 0;
            font-size: 16px;
            color: $gray;
        }

        img {
            border: 7px solid $white;
            width: 230px;
            height: 230px;
            border-radius: 100%;
            margin: 10px;
        }

        .social {
            padding-top: 10px;

            i {
                border: 3px solid #222222;
                font-size: 20px;
                border-radius: 100%;
                padding: 10px;
                margin: 0 3px;
                width: 47px;
                height: 47px;
            }

            a {
                color: #222222;

                .fa-facebook-f:hover {
                    border: 3px solid $facebook;
                    background: $facebook;
                    color: $white;
                }

                .fa-twitter:hover {
                    border: 3px solid $twitter;
                    background: $twitter;
                    color: $white;
                }

                .fa-google-plus:hover {
                    border: 3px solid $googleplus;
                    background: $googleplus;
                    color: $white;
                }
                }
            }
        }
    }

    .description { 

        padding-top: 40px;

        p {
            margin: 5px 0 5px;
            font-family: RobotoSlab;
            font-size: 19px;
            width: 625px;
            color: $gray;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#logos {
    overflow: hidden;
    padding: 60px 0px 60px;
    text-align: center;

    img {
        position: relative;
        padding: 0px 20px;
    }
}

#contact-us {
    overflow: hidden;
    background-color: #000000;
    background-image: url('../images/Map Image.png');
    width: 100%;
    height: 100vh;
    padding: 100px 0px 100px;
    text-align: center;

    .header {
        text-align: center;
        padding-bottom: 40px;
    }

    .title {
        font-family: 'Montserrat Bold', sans-serif;
        font-size: 40px;
        color: $white;
        font-weight: bold;   margin: 0;
        display: block;

    }

    .sub-title {
        font-size: 16px;
        font-family: $font_Droid;
        font-style: italic;
        color: $gray;
    }

    form {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        div {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 10px;
        }

        input {
            height: 50px;
            margin: 25px 0px;
            width: 435px;
        }

        textarea {
            height: 200px;
            width: 435px;
        }

        input.button {
            background: $yellow;
            border: none;
            color: $white;
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 65px;
            border-radius: 3px;   
        }
    }
}

#footer {
    overflow: hidden;
    padding: 25px 0px 25px;
    text-align: center;

    footer {


        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
        }

        i {
                background: #222222;
                color: $white;
                font-size: 20px;
                padding: 10px;
                margin: 0 3px;
                width: 40px;
                height: 40px; 
                border-radius: 100%;
            }

        a {
                .fa-facebook-f {
                    background: #222222;
                    color: $white;
                    &:hover {
                        background: $facebook;
                    }
                }

                .fa-twitter {
                    background: #222222;
                    color: $white; 
                    &:hover {
                        background: $twitter;
                    }
                }

                .fa-google-plus {
                    background: #222222;
                    color: $white;
                    &:hover {
                        background: $googleplus;
                    }
                }
                .fa-pinterest-p {
                    background: #222222;
                    color: $white;
                    &:hover {
                        background: $pinterest;
                    }
                }
        } 
    }
}

@import "pages";
@import "responsive";