@import "variable";

.page-generic{
	#header {
		background: #fed136 !important;
		padding: 25px 125px !important;

	#logo {
		p {
			color: #222222 !important;
			}
		}
	}
	
	#content {
	    background: linear-gradient(
		        rgba(0, 0, 0, 0.5),
		        rgba(0, 0, 0, 0.5)),
		        url('../images/ricardo-tamay.jpg') 
		        top center;
		        width: 100%;
		        height: 300px;
		        position: relative;

		.title {
			padding-top: 170px;
			text-align: center;

			h1 {
			    font-family: 'Montserrat Bold', sans-serif;
			    font-weight: bold;
			    color: #ffffff;
			}

			p {
				font-size: 16px;
		        font-family: $font_Droid;
		        font-style: italic;
		        color: $yellow;
			}

			}
		}	

		#description {

			padding: 25px 0px;

			div.container {
			    text-align: center;
				div {
					vertical-align: middle;
					display: inline-block;
					height: 300px;
					background: #fff;
					margin: 0 15px;
				}

				div.me {
				    text-align: left;
					width: 600px;

					img {
						width: 60px;
					}

					h2 {
						display: inline;
					}
				}

				div.form{
					background: $yellow;
					width: 300px;
					padding: 15px;
					form {

						p {
							font-family: 'Montserrat Bold', sans-serif;
					        font-weight: bold;
					        font-size: 16px;
						}

						input, textarea{
							margin: 10px 0px;
							border: none;
							font-size: 12px;
							-webkit-box-shadow: none;
						}

						input.button {
							font-family: 'Montserrat Bold', sans-serif;
					        font-weight: bold;
					        font-size: 14px;
					        color: #fff;
					        border: none;
					        cursor: pointer;
					        background: $black;
					        border-radius: 3px;
						}
					}
				}
			}
		}

		#more-description {
			padding: 25px 0px;
			background: #f7f7f7;
			height : 200px;
		}
}	

	// CONTACT
	#contact-page {
		position: relative;
		background: linear-gradient(
		        rgba(0, 0, 0, 0.5),
		        rgba(0, 0, 0, 0.5)),
		        url('../images/ricardo-tamayo-full.jpg') 
		        top center;
		        width: 100%;
		        height: 615px;
		        position: relative;

		div.container {
			.title {
				padding-top: 170px;
				text-align: center;

				h1 {
				    font-family: 'Montserrat Bold', sans-serif;
				    font-weight: bold;
				    color: #ffffff;
				}

				p {
					font-size: 16px;
			        font-family: $font_Droid;
			        font-style: italic;
			        color: $yellow;
				}

			}
		}

		div.contact {    
				background: rgba(0, 0, 0, 0.8);
				width: 100%;
    			height: 275px;
				text-align: center;
				position: absolute;
				bottom: 0;
		        padding: 10px 0;

				div {
					display: inline-block;
					text-align: left;
					margin: 10px;
					vertical-align: top;
				}

				div.details {
					width: 500px;
					color: $white;
				    font-family: 'Montserrat', sans-serif;
				    img {
				    	width: 45px;
				    	margin: 5px;
				    }

				    h2 {
				    	display: inline-block;
				    }
				}

				div.contact-form {
					width: 365px;
				    font-family: 'Montserrat', sans-serif;

				    p:first-child {
				    	font-size: 16px;
				    }

					input[type=text], textarea {
						margin: 7px 5px;
						background: transparent;
					    color: #fff;
					    border: 1px solid #fff;

					    &:focus {
					       outline: none !important;
					    }
					}

					textarea {
					    resize: none;
					    width: 97%;
					    padding: 5px;
					}

					p {
						color: #fff;
						font-size: 12px;
						margin: 2px 5px;

						span {
							color: $yellow;
						}
					}

					input[type=text] {
						display: inline;
						border-style: none none solid none;
					}

					input[type=button] {
						display: block;
						float: right;
						margin: 5px;
						padding: 5px 25px;
				        font-weight: bold;
				        font-size: 14px;
				        color: #fff;
				        border: none;
				        cursor: pointer;
				        background: $yellow;
				        border-radius: 3px;

					}
				}
			}
	}

	#more-contact-details {
		background: $lightgray;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
					
		div {
			display: inline-block;
			height: 150px;
			text-align: left;
			margin: 10px 0;
			vertical-align: top;

			div {
				width: 300px;
				padding: 5px 10px;
				h5 {
					font-weight: bold;
				}
				p {
					font-size: 12px;
				}
			}
		}
	}

