@import "variable";

.timeline {
	position: relative;
	margin: 50px auto;

	ul {
		margin: 0;
		padding: 0;
	}

	ul li {
		list-style: none;
		line-height: normal;
		position: relative;
		width: 50%;
		box-sizing: border-box;

		h3 {
			font-family: 'Montserrat Bold', sans-serif;
	        font-weight: bold;
			font-size: 18px;
		}
	}

	ul li:nth-child(odd){
		clear: both;
		float: left;
		text-align: right;
		padding: 50px 125px;

		img {
			right: -90px;
		}
	}


	ul li:nth-child(even){
		clear: both;
		float: right;
		text-align: left;
		padding: 50px 125px;

		img {
			left: -90px;
		}
	}

	ul li:first-of-type {
		padding-top: 0px;
	}

	ul li:last-of-type {

		width: 100%;
		padding: 50px 0px 0px;
		text-align: center;

		.content {
			text-align: center;
			background: #fed136;
			width: 178px;
			height: 178px;
			border-radius: 100%;
			margin: 0 auto;
			display: flex;
		    justify-content: center;
		    align-items: center;
			border: 5px solid #f1f1f1;
			
			h3 {
				
				font-family: 'Montserrat Bold', sans-serif;
		        font-weight: bold;
				font-size: 18px;
				color: $white;
				line-height: 30px;
			}
		}
		
	}

	.content {

		img {
			border-radius: 100%;
			border: 7px solid #f1f1f1;
			position: absolute;
			height: 178px;
        	vertical-align: middle;
		}

		h3 {
			display: inline;
			line-height: 1.5;
		}

		p {
			font-family: $font_Droid;
			color: $gray;
			line-height: 1.6;
		}
	}
}

.vertical { 
    border-left: 2px solid #f1f1f1; 
    height: 1100px;
    position:absolute; 
    left: 50%;
} 