@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');

$yellow: #fed136;
$gray: #777777;
$lightgray: #f7f7f7;
$lightergray:#737373;
$black: #222222;
$white: #ffffff;
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #d95232;
$pinterest: #da2713;

$font_Montserrat: "Montserrat";
$font_Droid: "Droid Serif";
$font_Wisdom: "Wisdom Script";