@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
.timeline {
  position: relative;
  margin: 50px auto;
}
.timeline ul {
  margin: 0;
  padding: 0;
}
.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}
.timeline ul li h3 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.timeline ul li:nth-child(odd) {
  clear: both;
  float: left;
  text-align: right;
  padding: 50px 125px;
}
.timeline ul li:nth-child(odd) img {
  right: -90px;
}
.timeline ul li:nth-child(even) {
  clear: both;
  float: right;
  text-align: left;
  padding: 50px 125px;
}
.timeline ul li:nth-child(even) img {
  left: -90px;
}
.timeline ul li:first-of-type {
  padding-top: 0px;
}
.timeline ul li:last-of-type {
  width: 100%;
  padding: 50px 0px 0px;
  text-align: center;
}
.timeline ul li:last-of-type .content {
  text-align: center;
  background: #fed136;
  width: 178px;
  height: 178px;
  border-radius: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #f1f1f1;
}
.timeline ul li:last-of-type .content h3 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}
.timeline .content img {
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  position: absolute;
  height: 178px;
  vertical-align: middle;
}
.timeline .content h3 {
  display: inline;
  line-height: 1.5;
}
.timeline .content p {
  font-family: "Droid Serif";
  color: #777777;
  line-height: 1.6;
}

.vertical {
  border-left: 2px solid #f1f1f1;
  height: 1100px;
  position: absolute;
  left: 50%;
}

body {
  margin: 0;
}

#header {
  overflow: hidden;
  position: fixed;
  padding: 43px 125px;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
}

#header #logo {
  float: left;
}

#header #logo p {
  font-size: 26px;
  color: #fed136;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Wisdom Script";
  letter-spacing: 2px;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > li {
  margin: 0px 7px;
}

.nav-menu > li {
  float: left;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  padding: 8px 22px 10px 8px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: bold;
  outline: none;
}
.nav-menu a:hover {
  color: #ffffff;
}

.mobile-menu {
  display: none;
}
.mobile-menu #burger-menu {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 25px;
}
.mobile-menu .nav-menu-mobile {
  position: fixed;
  background: #000;
  padding: 20px;
  top: 0;
  height: 100%;
  width: 320px;
  right: -320px;
}
.mobile-menu .nav-menu-mobile .nav-menu-mobile-inner {
  position: relative;
  padding-top: 30px;
}
.mobile-menu .nav-menu-mobile .nav-menu-mobile-inner .menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  z-index: 10;
}
.mobile-menu .nav-menu-mobile .nav-menu {
  margin: 0;
  padding: 0;
  display: block;
}
.mobile-menu .nav-menu-mobile .nav-menu li {
  list-style: none;
  display: block;
  width: 100%;
}
.mobile-menu .nav-menu-mobile .nav-menu li a {
  color: #fff;
}

#home {
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Background Image.jpg") top center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-text {
  color: #fff;
  padding-top: 175px;
  padding-top: 268px;
  text-align: center;
  vertical-align: top;
}
.home-text p {
  font-family: "Droid Serif";
  font-style: italic;
  font-size: 40px;
  margin: 0 0 25px 0;
}
.home-text h1 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75px;
  color: #fff;
  margin-bottom: 70px;
}
.home-text a {
  text-decoration: none;
}
.home-text .button {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #fed136;
  padding: 25px 55px;
  border-radius: 3px;
}
.home-text .button:hover {
  background: #ffc600;
  text-decoration: none;
}

.services-header {
  text-align: center;
  padding-bottom: 50px;
}
.services-header .title {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #222222;
  text-align: center;
  margin-bottom: 0;
}
.services-header .sub-title {
  font-size: 15px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #777777;
}

#services {
  overflow: hidden;
  text-align: center;
  padding: 120px 0px;
}

.service {
  padding: 0px 5px;
  margin: 0 18px;
  width: 295px;
  display: inline-block;
}

.service img {
  padding: 10px;
}
.service .title {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #222222;
}
.service .text {
  font-family: RobotoSlab;
  font-size: 16px;
  color: #777777;
  margin: 0 0 10px;
}

#portfolio {
  overflow: hidden;
  background: #f7f7f7;
  padding: 120px 0px 120px;
  text-align: center;
}

.portfolio-header {
  padding-bottom: 50px;
}
.portfolio-header .title {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #222222;
  margin-bottom: 0;
}
.portfolio-header .sub-title {
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  color: #777777;
}

.portfolio-thumbnail {
  display: inline-block;
  background: #ffffff;
  margin: 10px 15px 25px;
}
.portfolio-thumbnail .caption p.title {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 25px 0px 0px;
}
.portfolio-thumbnail .caption p.description {
  font-family: "Droid Serif";
  font-style: italic;
  color: #737373;
  padding-bottom: 10px;
}

#about-us {
  overflow: hidden;
  padding: 120px 0px;
}
#about-us .header {
  text-align: center;
  padding-bottom: 15px;
}
#about-us .title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 40px;
  color: #222222;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
#about-us .sub-title {
  font-family: "Droid Serif";
  font-style: italic;
  font-size: 16px;
  color: #777777;
}

#our-amazing-team {
  overflow: hidden;
  background: #f7f7f7;
  padding: 120px 0px 110px;
  text-align: center;
}
#our-amazing-team .header {
  text-align: center;
  padding-bottom: 70px;
}
#our-amazing-team .title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 40px;
  color: #222222;
  margin-bottom: 0;
  font-weight: bold;
}
#our-amazing-team .sub-title {
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  color: #777777;
}
#our-amazing-team .team .member h4 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  margin: 8px 8px;
}
#our-amazing-team .team .member p {
  font-family: "RobotoSlab";
  margin: 0;
  font-size: 16px;
  color: #777777;
}
#our-amazing-team .team .member img {
  border: 7px solid #ffffff;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  margin: 10px;
}
#our-amazing-team .team .member .social {
  padding-top: 10px;
}
#our-amazing-team .team .member .social i {
  border: 3px solid #222222;
  font-size: 20px;
  border-radius: 100%;
  padding: 10px;
  margin: 0 3px;
  width: 47px;
  height: 47px;
}
#our-amazing-team .team .member .social a {
  color: #222222;
}
#our-amazing-team .team .member .social a .fa-facebook-f:hover {
  border: 3px solid #3b5998;
  background: #3b5998;
  color: #ffffff;
}
#our-amazing-team .team .member .social a .fa-twitter:hover {
  border: 3px solid #00aced;
  background: #00aced;
  color: #ffffff;
}
#our-amazing-team .team .member .social a .fa-google-plus:hover {
  border: 3px solid #d95232;
  background: #d95232;
  color: #ffffff;
}
#our-amazing-team .description {
  padding-top: 40px;
}
#our-amazing-team .description p {
  margin: 5px 0 5px;
  font-family: RobotoSlab;
  font-size: 19px;
  width: 625px;
  color: #777777;
  margin-left: auto;
  margin-right: auto;
}

#logos {
  overflow: hidden;
  padding: 60px 0px 60px;
  text-align: center;
}
#logos img {
  position: relative;
  padding: 0px 20px;
}

#contact-us {
  overflow: hidden;
  background-color: #000000;
  background-image: url("../images/Map Image.png");
  width: 100%;
  height: 100vh;
  padding: 100px 0px 100px;
  text-align: center;
}
#contact-us .header {
  text-align: center;
  padding-bottom: 40px;
}
#contact-us .title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  display: block;
}
#contact-us .sub-title {
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #777777;
}
#contact-us form {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#contact-us form div {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
#contact-us form input {
  height: 50px;
  margin: 25px 0px;
  width: 435px;
}
#contact-us form textarea {
  height: 200px;
  width: 435px;
}
#contact-us form input.button {
  background: #fed136;
  border: none;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 65px;
  border-radius: 3px;
}

#footer {
  overflow: hidden;
  padding: 25px 0px 25px;
  text-align: center;
}
#footer footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
#footer footer i {
  background: #222222;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#footer footer a .fa-facebook-f {
  background: #222222;
  color: #ffffff;
}
#footer footer a .fa-facebook-f:hover {
  background: #3b5998;
}
#footer footer a .fa-twitter {
  background: #222222;
  color: #ffffff;
}
#footer footer a .fa-twitter:hover {
  background: #00aced;
}
#footer footer a .fa-google-plus {
  background: #222222;
  color: #ffffff;
}
#footer footer a .fa-google-plus:hover {
  background: #d95232;
}
#footer footer a .fa-pinterest-p {
  background: #222222;
  color: #ffffff;
}
#footer footer a .fa-pinterest-p:hover {
  background: #da2713;
}

.page-generic #header {
  background: #fed136 !important;
  padding: 25px 125px !important;
}
.page-generic #header #logo p {
  color: #222222 !important;
}
.page-generic #content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ricardo-tamay.jpg") top center;
  width: 100%;
  height: 300px;
  position: relative;
}
.page-generic #content .title {
  padding-top: 170px;
  text-align: center;
}
.page-generic #content .title h1 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.page-generic #content .title p {
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #fed136;
}
.page-generic #description {
  padding: 25px 0px;
}
.page-generic #description div.container {
  text-align: center;
}
.page-generic #description div.container div {
  vertical-align: middle;
  display: inline-block;
  height: 300px;
  background: #fff;
  margin: 0 15px;
}
.page-generic #description div.container div.me {
  text-align: left;
  width: 600px;
}
.page-generic #description div.container div.me img {
  width: 60px;
}
.page-generic #description div.container div.me h2 {
  display: inline;
}
.page-generic #description div.container div.form {
  background: #fed136;
  width: 300px;
  padding: 15px;
}
.page-generic #description div.container div.form form p {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.page-generic #description div.container div.form form input, .page-generic #description div.container div.form form textarea {
  margin: 10px 0px;
  border: none;
  font-size: 12px;
  -webkit-box-shadow: none;
}
.page-generic #description div.container div.form form input.button {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #222222;
  border-radius: 3px;
}
.page-generic #more-description {
  padding: 25px 0px;
  background: #f7f7f7;
  height: 200px;
}

#contact-page {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ricardo-tamayo-full.jpg") top center;
  width: 100%;
  height: 615px;
  position: relative;
}
#contact-page div.container .title {
  padding-top: 170px;
  text-align: center;
}
#contact-page div.container .title h1 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
#contact-page div.container .title p {
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #fed136;
}
#contact-page div.contact {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 275px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}
#contact-page div.contact div {
  display: inline-block;
  text-align: left;
  margin: 10px;
  vertical-align: top;
}
#contact-page div.contact div.details {
  width: 500px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
#contact-page div.contact div.details img {
  width: 45px;
  margin: 5px;
}
#contact-page div.contact div.details h2 {
  display: inline-block;
}
#contact-page div.contact div.contact-form {
  width: 365px;
  font-family: "Montserrat", sans-serif;
}
#contact-page div.contact div.contact-form p:first-child {
  font-size: 16px;
}
#contact-page div.contact div.contact-form input[type=text], #contact-page div.contact div.contact-form textarea {
  margin: 7px 5px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
#contact-page div.contact div.contact-form input[type=text]:focus, #contact-page div.contact div.contact-form textarea:focus {
  outline: none !important;
}
#contact-page div.contact div.contact-form textarea {
  resize: none;
  width: 97%;
  padding: 5px;
}
#contact-page div.contact div.contact-form p {
  color: #fff;
  font-size: 12px;
  margin: 2px 5px;
}
#contact-page div.contact div.contact-form p span {
  color: #fed136;
}
#contact-page div.contact div.contact-form input[type=text] {
  display: inline;
  border-style: none none solid none;
}
#contact-page div.contact div.contact-form input[type=button] {
  display: block;
  float: right;
  margin: 5px;
  padding: 5px 25px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #fed136;
  border-radius: 3px;
}

#more-contact-details {
  background: #f7f7f7;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#more-contact-details div {
  display: inline-block;
  height: 150px;
  text-align: left;
  margin: 10px 0;
  vertical-align: top;
}
#more-contact-details div div {
  width: 300px;
  padding: 5px 10px;
}
#more-contact-details div div h5 {
  font-weight: bold;
}
#more-contact-details div div p {
  font-size: 12px;
}

/* HEIGHT RESPONSIVE */
@media (max-height: 600px) {
  #header {
    padding: 30px;
  }

  #home {
    height: auto;
    min-height: 600px;
  }
}
/* WIDTH RESPONSIVE */
@media (max-width: 1200px) {
  #header {
    padding: 43px 125px;
  }
  #header .nav-menu a {
    padding: 8px 7px 10px 7px;
  }

  #portfolio {
    padding: 75px 0;
  }
  #portfolio .portfolio-thumbnail {
    width: 275px;
  }
  #portfolio .portfolio-thumbnail img {
    width: 275px;
  }

  #services .service {
    width: 270px;
  }
}
@media (max-width: 991px) {
  #header {
    padding: 43px 125px;
  }

  #home .home-text {
    padding-top: 230px;
    font-size: 65px;
  }
  #home .home-text h1 {
    font-size: 60px;
    margin: 0;
  }
  #home .home-text p {
    font-size: 35px;
  }
  #home .home-text a {
    padding: 20px 35px;
  }

  .nav-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .home-text {
    padding-top: 150px;
  }

  #services {
    padding: 45px 0;
  }
  #services .service {
    padding: 0 5px;
    margin: 0 18px;
    width: 195px;
    display: inline-block;
  }

  #portfolio {
    padding: 75px 0;
  }
  #portfolio .portfolio-thumbnail {
    width: 200px;
  }
  #portfolio .portfolio-thumbnail img {
    width: 200px;
  }

  #about-us {
    padding: 75px 0;
  }
  #about-us .timeline ul li:nth-child(odd) {
    clear: both;
    float: left;
    text-align: right;
    padding: 25px 110px 25px 0px;
  }
  #about-us .timeline ul li:nth-child(even) {
    clear: both;
    float: right;
    text-align: left;
    padding: 25px 0px 25px 110px;
  }
  #about-us .timeline ul li:first-of-type {
    padding-top: 0;
  }
  #about-us .timeline ul li:last-of-type {
    padding: 25px 0px 0px;
  }

  #our-amazing-team {
    padding: 75px 0;
  }
  #our-amazing-team .header {
    text-align: center;
    padding-bottom: 15px;
  }

  #contact-us form input {
    width: 315px;
  }
  #contact-us form textarea {
    width: 315px;
  }

  #logos img {
    position: relative;
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  #header {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }

  #home {
    height: 500px;
  }
  #home .home-text {
    padding-top: 165px;
  }
  #home .home-text h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  #home .home-text p {
    font-size: 25px;
  }
  #home .home-text a {
    padding: 15px 25px;
    font-size: 16px;
  }

  #services .service {
    width: 310px;
  }

  .portfolio-thumbnail {
    width: 200px;
  }
  .portfolio-thumbnail img {
    width: 200px;
  }

  #contact-us form input {
    height: 35px;
    margin: 10px 0px;
    width: 350px;
  }
  #contact-us form textarea {
    height: 135px;
    width: 350px;
    margin-bottom: 10px;
  }
  #contact-us form input.button {
    height: 50px;
    width: 350px;
    margin: 0 auto;
  }

  #logos .logo-image img {
    width: 150px;
  }
}
@media (max-width: 414px) {
  #header {
    padding: 25px 40px !important;
  }

  #services .services-header .title {
    font-size: 30px;
  }
  #services .services-header .sub-title {
    font-size: 13px;
  }

  #about-us .timeline .vertical {
    display: none;
  }
  #about-us .timeline ul li {
    width: 100%;
  }
  #about-us .timeline ul li:nth-child(odd) {
    text-align: center;
    float: none;
    padding: 25px 10px 25px 10px;
  }
  #about-us .timeline ul li:nth-child(odd) img {
    right: 0;
  }
  #about-us .timeline ul li:nth-child(even) {
    text-align: center;
    float: none;
    padding: 25px 10px 25px 10px;
  }
  #about-us .timeline ul li:nth-child(even) img {
    left: 0;
  }
  #about-us .timeline .content {
    position: relative;
  }
  #about-us .timeline .content img {
    position: relative;
  }
  #about-us .timeline .content h3 {
    display: block;
  }
  #about-us .timeline .content h3 span {
    display: block;
  }

  #portfolio .portfolio-thumbnail {
    width: 300px;
  }
  #portfolio .portfolio-thumbnail img {
    width: 300px;
  }
}

/*# sourceMappingURL=index.css.map */
