@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
.page-generic #header {
  background: #fed136 !important;
  padding: 25px 125px !important;
}
.page-generic #header #logo p {
  color: #222222 !important;
}
.page-generic #content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ricardo-tamay.jpg") top center;
  width: 100%;
  height: 300px;
  position: relative;
}
.page-generic #content .title {
  padding-top: 170px;
  text-align: center;
}
.page-generic #content .title h1 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.page-generic #content .title p {
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #fed136;
}
.page-generic #description {
  padding: 25px 0px;
}
.page-generic #description div.container {
  text-align: center;
}
.page-generic #description div.container div {
  vertical-align: middle;
  display: inline-block;
  height: 300px;
  background: #fff;
  margin: 0 15px;
}
.page-generic #description div.container div.me {
  text-align: left;
  width: 600px;
}
.page-generic #description div.container div.me img {
  width: 60px;
}
.page-generic #description div.container div.me h2 {
  display: inline;
}
.page-generic #description div.container div.form {
  background: #fed136;
  width: 300px;
  padding: 15px;
}
.page-generic #description div.container div.form form p {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.page-generic #description div.container div.form form input, .page-generic #description div.container div.form form textarea {
  margin: 10px 0px;
  border: none;
  font-size: 12px;
  -webkit-box-shadow: none;
}
.page-generic #description div.container div.form form input.button {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #222222;
  border-radius: 3px;
}
.page-generic #more-description {
  padding: 25px 0px;
  background: #f7f7f7;
  height: 200px;
}

#contact-page {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ricardo-tamayo-full.jpg") top center;
  width: 100%;
  height: 615px;
  position: relative;
}
#contact-page div.container .title {
  padding-top: 170px;
  text-align: center;
}
#contact-page div.container .title h1 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
#contact-page div.container .title p {
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #fed136;
}
#contact-page div.contact {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 275px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}
#contact-page div.contact div {
  display: inline-block;
  text-align: left;
  margin: 10px;
  vertical-align: top;
}
#contact-page div.contact div.details {
  width: 500px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
#contact-page div.contact div.details img {
  width: 45px;
  margin: 5px;
}
#contact-page div.contact div.details h2 {
  display: inline-block;
}
#contact-page div.contact div.contact-form {
  width: 365px;
  font-family: "Montserrat", sans-serif;
}
#contact-page div.contact div.contact-form p:first-child {
  font-size: 16px;
}
#contact-page div.contact div.contact-form input[type=text], #contact-page div.contact div.contact-form textarea {
  margin: 7px 5px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
#contact-page div.contact div.contact-form input[type=text]:focus, #contact-page div.contact div.contact-form textarea:focus {
  outline: none !important;
}
#contact-page div.contact div.contact-form textarea {
  resize: none;
  width: 97%;
  padding: 5px;
}
#contact-page div.contact div.contact-form p {
  color: #fff;
  font-size: 12px;
  margin: 2px 5px;
}
#contact-page div.contact div.contact-form p span {
  color: #fed136;
}
#contact-page div.contact div.contact-form input[type=text] {
  display: inline;
  border-style: none none solid none;
}
#contact-page div.contact div.contact-form input[type=button] {
  display: block;
  float: right;
  margin: 5px;
  padding: 5px 25px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #fed136;
  border-radius: 3px;
}

#more-contact-details {
  background: #f7f7f7;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#more-contact-details div {
  display: inline-block;
  height: 150px;
  text-align: left;
  margin: 10px 0;
  vertical-align: top;
}
#more-contact-details div div {
  width: 300px;
  padding: 5px 10px;
}
#more-contact-details div div h5 {
  font-weight: bold;
}
#more-contact-details div div p {
  font-size: 12px;
}

/*# sourceMappingURL=pages.css.map */
