/* HEIGHT RESPONSIVE */
@media (max-height: 600px) {
  #header {
    padding: 30px;
  }

  #home {
    height: auto;
    min-height: 600px;
  }
}
/* WIDTH RESPONSIVE */
@media (max-width: 1200px) {
  #header {
    padding: 43px 125px;
  }
  #header .nav-menu a {
    padding: 8px 7px 10px 7px;
  }

  #portfolio {
    padding: 75px 0;
  }
  #portfolio .portfolio-thumbnail {
    width: 275px;
  }
  #portfolio .portfolio-thumbnail img {
    width: 275px;
  }

  #services .service {
    width: 270px;
  }
}
@media (max-width: 991px) {
  #header {
    padding: 43px 125px;
  }

  #home .home-text {
    padding-top: 230px;
    font-size: 65px;
  }
  #home .home-text h1 {
    font-size: 60px;
    margin: 0;
  }
  #home .home-text p {
    font-size: 35px;
  }
  #home .home-text a {
    padding: 20px 35px;
  }

  .nav-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .home-text {
    padding-top: 150px;
  }

  #services {
    padding: 45px 0;
  }
  #services .service {
    padding: 0 5px;
    margin: 0 18px;
    width: 195px;
    display: inline-block;
  }

  #portfolio {
    padding: 75px 0;
  }
  #portfolio .portfolio-thumbnail {
    width: 200px;
  }
  #portfolio .portfolio-thumbnail img {
    width: 200px;
  }

  #about-us {
    padding: 75px 0;
  }
  #about-us .timeline ul li:nth-child(odd) {
    clear: both;
    float: left;
    text-align: right;
    padding: 25px 110px 25px 0px;
  }
  #about-us .timeline ul li:nth-child(even) {
    clear: both;
    float: right;
    text-align: left;
    padding: 25px 0px 25px 110px;
  }
  #about-us .timeline ul li:first-of-type {
    padding-top: 0;
  }
  #about-us .timeline ul li:last-of-type {
    padding: 25px 0px 0px;
  }

  #our-amazing-team {
    padding: 75px 0;
  }
  #our-amazing-team .header {
    text-align: center;
    padding-bottom: 15px;
  }

  #contact-us form input {
    width: 315px;
  }
  #contact-us form textarea {
    width: 315px;
  }

  #logos img {
    position: relative;
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  #header {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }

  #home {
    height: 500px;
  }
  #home .home-text {
    padding-top: 165px;
  }
  #home .home-text h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  #home .home-text p {
    font-size: 25px;
  }
  #home .home-text a {
    padding: 15px 25px;
    font-size: 16px;
  }

  #services .service {
    width: 310px;
  }

  .portfolio-thumbnail {
    width: 200px;
  }
  .portfolio-thumbnail img {
    width: 200px;
  }

  #contact-us form input {
    height: 35px;
    margin: 10px 0px;
    width: 350px;
  }
  #contact-us form textarea {
    height: 135px;
    width: 350px;
    margin-bottom: 10px;
  }
  #contact-us form input.button {
    height: 50px;
    width: 350px;
    margin: 0 auto;
  }

  #logos .logo-image img {
    width: 150px;
  }
}
@media (max-width: 414px) {
  #header {
    padding: 25px 40px !important;
  }

  #services .services-header .title {
    font-size: 30px;
  }
  #services .services-header .sub-title {
    font-size: 13px;
  }

  #about-us .timeline .vertical {
    display: none;
  }
  #about-us .timeline ul li {
    width: 100%;
  }
  #about-us .timeline ul li:nth-child(odd) {
    text-align: center;
    float: none;
    padding: 25px 10px 25px 10px;
  }
  #about-us .timeline ul li:nth-child(odd) img {
    right: 0;
  }
  #about-us .timeline ul li:nth-child(even) {
    text-align: center;
    float: none;
    padding: 25px 10px 25px 10px;
  }
  #about-us .timeline ul li:nth-child(even) img {
    left: 0;
  }
  #about-us .timeline .content {
    position: relative;
  }
  #about-us .timeline .content img {
    position: relative;
  }
  #about-us .timeline .content h3 {
    display: block;
  }
  #about-us .timeline .content h3 span {
    display: block;
  }

  #portfolio .portfolio-thumbnail {
    width: 300px;
  }
  #portfolio .portfolio-thumbnail img {
    width: 300px;
  }
}

/*# sourceMappingURL=responsive.css.map */
