@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
.timeline {
  position: relative;
  margin: 50px auto;
}
.timeline ul {
  margin: 0;
  padding: 0;
}
.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}
.timeline ul li h3 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.timeline ul li:nth-child(odd) {
  clear: both;
  float: left;
  text-align: right;
  padding: 50px 125px;
}
.timeline ul li:nth-child(odd) img {
  right: -90px;
}
.timeline ul li:nth-child(even) {
  clear: both;
  float: right;
  text-align: left;
  padding: 50px 125px;
}
.timeline ul li:nth-child(even) img {
  left: -90px;
}
.timeline ul li:first-of-type {
  padding-top: 0px;
}
.timeline ul li:last-of-type {
  width: 100%;
  padding: 50px 0px 0px;
  text-align: center;
}
.timeline ul li:last-of-type .content {
  text-align: center;
  background: #fed136;
  width: 178px;
  height: 178px;
  border-radius: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #f1f1f1;
}
.timeline ul li:last-of-type .content h3 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}
.timeline .content img {
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  position: absolute;
  height: 178px;
  vertical-align: middle;
}
.timeline .content h3 {
  display: inline;
  line-height: 1.5;
}
.timeline .content p {
  font-family: "Droid Serif";
  color: #777777;
  line-height: 1.6;
}

.vertical {
  border-left: 2px solid #f1f1f1;
  height: 1100px;
  position: absolute;
  left: 50%;
}

/*# sourceMappingURL=timeline.css.map */
